html {
    box-sizing: border-box;
}

/*Estilos generales*/
body {
    font-family: Arial, sans-serif;
    color: #000;
}

div#contenido {
    display: flex;
    flex-direction: column;
}

/*Contenedor principal*/
form#form-registro {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
}

form#form-registro input {
    flex: 0 100%;
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
    text-align: left;
}

form#form-registro>input ::placeholder {
    color: black;
}

/*h2*/
h2 {
    text-transform: uppercase;
    font-size: 16px;
}

/*h3*/
h3 {
    font-size: 12px;
}

/*select de país y la lista de provincias en gris*/
form#form-registro select[name="pais"],
form#form-registro datalist,
form#form-registro input[type="date"] {
    font-weight: bold;
    color: #999;
}

/*Campos de entrada de texto y select*/
form#form-registro input[type="text"],
form#form-registro input[type="email"],
form#form-registro input[type="password"],
form#form-registro input[list],
form#form-registro input[type="tel"],
form#form-registro input[type="date"] {
    flex: 100%;
    padding: 10px;
    margin: 0.3rem;
    border: none;
    border-bottom: 1px solid #999;
    outline: none;
}

/*Negrita para el label del sr y sra.*/
form#form-registro label[for="senior"],
form#form-registro label[for="seniora"] {
    font-weight: bold;
}

/*Cambio de tamaño del label de autorizacion*/
form#form-registro label[for="autorizacion"] {
    font-size: 10px;
    margin-top: 2rem;
    padding: 10px;
}

/*Botón*/
form#form-registro input[type="submit"] {
    background-color: #242321;
    color: #a6896f;
    border: none;
    border-radius: 20px;
    padding: 15px 20px;
    font-size: 18px;
    width: 10rem;
    height: 3rem;
    text-align: center;
    align-self: center;
}

form#form-registro input[type="submit"]:hover {
    background-color: #080808;
}

/*Ocultar el título h1*/
header h1 {
    display: none;
}

/*media query para tablet*/
@media (min-width:720px) {
    form#form-registro {
        flex-flow: row wrap;
        align-items: center;
        padding: 1rem;
    }

    form#form-registro div#tratamiento {
        flex: 100%;
    }

    form#form-registro input[type="text"],
    form#form-registro input[type="email"],
    form#form-registro input[type="password"],
    form#form-registro input[list],
    form#form-registro input[type="date"] {
        flex: 0 46%;
    }

    form#form-registro input[type="tel"]#telefono {
        flex:100%;
    }
    form#form-registro h2,form#form-registro h3{
        flex: 100%;
    }
    form#form-registro input[type="submit"] {
        flex: 0 100%;
        margin: 1rem 40%;
    }
    form#form-registro label[for="autorizacion"] {
        flex:100%;
        align-self: center;
    }
}

