*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#contenido{
    display: flex;
    flex-flow: row nowrap;
    margin: 2rem;
    width: 200px;
    border: 1px solid #FFA559;
    background-color: #525252;
}
.boton{
    margin-right: 0.2rem;
    
}

/*
colores de la web
#FFA559 --> logo
#525252 --> fondo
#000 --> cabecera y pie

*/