/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 100 to 700

.josefin-sans-<uniquifier> {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}*/
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #525252;
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
}

#container-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 100vh;
}

header,
footer {
    -ms-flex-negative: 0;
        flex-shrink: 0;
}

main {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}

a {
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    color: #FFF;
}

ul {
    list-style: none;
}

h2 {
    color: #FFA559;
    font-size: 0.75rem;
}

img {
    cursor: pointer;
}

h3 {
    font-size: 24px;
    font-weight: 380;
    color: #FFF;
    width: auto;
    margin-bottom: 1rem;
    -webkit-text-decoration: underline #B3DEE5;
            text-decoration: underline #B3DEE5;
    
}

h4 {
    color: #FFF;
    font-size: 20px;
    font-weight: 350;
    text-align: center;
    padding-top: 1rem;
    width: 160px;
    margin-bottom: 1rem;
}

h5 {
    font-size: 18px;
    font-weight: 350;
    text-decoration: underline;
}

h6 {
    font-size: 16px;
}

p {
    font-size: 16px;
}

div#volverarriba {
    width: 6rem;
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: center;
    position: fixed;
    opacity: 0.7;
    display: none;
}

div#volverarriba img {
    border: 1px solid #FFA559;
    border-radius: 25px;
    padding: 0.2rem;
}

/*cabecera*/
header h1 {
    display: none;
    color: #FFA559;
    font-size: 30px;
}

header {
    background-color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0.5rem;
    width: 100%;
    height: 5rem;

}

header div#logo a img#imglogo {
    width: 120px;
    height: 100px;
    margin-left: 1rem;
}

header div#iconos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 50px;
    margin-top: 1rem;

}

header div#iconos nav#menuPrincipal img,
header div#iconos nav#menu-usuario img,
header div#iconos div#buscador img {
    padding-left: 1rem;
}

/*buscador*/
#buscador input[type="text"] {
    display: none;
}



/*estilos del menú usuario*/
nav#menu-usuario ul#opciones-menu-usuario li:first-child {
    background-color: #171616;
    border-bottom: none;
}

/*estilos en conjunto para los menús de usuario y principal*/
header nav#menuPrincipal ul,
nav#menu-usuario ul {
    background-color: #171616;
    padding: 10px 5px 0 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    position: absolute;
    top: 3rem;
    right: 0;
    z-index: 2;
}

nav#menu-usuario ul {
    z-index: 10000;
}

header nav#menuPrincipal ul#opciones-menu-principal>li,
nav#menu-usuario ul#opciones-menu-usuario>li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #383838;
    border-bottom: 1px solid #FFA559;
    padding: 0.5rem;
    width: 160px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}






/*cuerpo*/
section {
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
}

section:nth-child(even) {
    background-color: #383838;
}

section div.swiper {
    width: 100%;
}

section article.swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 15px 5px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
}


.swiper-button-next,
.swiper-button-prev {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #FFA559 !important;
    /*cambiamos el color de los botones*/

}

section .boton-ver-mas {
    background-color: #FFA559;
    width: 94px;
    border-radius: 25px;
    text-align: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}

section .boton-ver-mas a {
    font-size: 16px;
    color: #000;


}

/*términos y políticas*/
h3 {
    margin-left: 30px;
}

section div.terminos {
    padding: 30px;
    color: #FFF;
    font-size: 16px;
}

section div.terminos h4 {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}

section div.terminos h5 {
    font-size: 18px;
    text-decoration: underline;
    font-weight: 350;
    padding-bottom: 0.5rem;
}

section div.terminos ul {
    padding-left: 20px;
    list-style-position: outside;
}

section div.terminos li {
    list-style: disc;
}

section div.terminos article {
    margin-bottom: 1rem;
}

/*lo más visto, añadido recientemente, recomendaciones y recomendados por la comunidad*/
div.lo-mas-visto,
div.aniadido-recientemente,
div.recomendaciones,
div.recomendados-comunidad {
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
}

section article.card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 15px 5px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48%;
            flex: 0 0 48%;
}





/*ficha de la obra*/
section.obra article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;

}

section.obra article h3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin: 0;
}

section.obra article div#contenido-fijo,
section.obra article div.datos-obra {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 2rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;

}


/*desplegable para elegir el estado de la lectura*/
section.obra article div#contenido-fijo div.estado-lectura {
    margin: 5px;
}

section.obra article div#contenido-fijo #estadoLectura {
    background-color: #171616;
    color: white;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    padding: 5px;
    padding-right: 30px;
    /* Espacio para la imagen de la flecha */
    background-image: url('https://cmr-ciaa.s3.amazonaws.com/cmr/imagen/icons/bx-chevron-down.svg');
    /* SVG de la flecha */
    background-repeat: no-repeat;
    background-position: right 5px center;
    cursor: pointer;

}

section.obra article div#contenido-fijo #estadoLectura option {
    background-color: #383838;
    color: white;
}

/*puntuación en la ficha de una obra*/
section.obra article div#contenido-fijo div.puntuacion {
    border: 2px solid #FFA559;
    border-radius: 15px;
    width: 150px;
    height: auto;
    padding: 2px;
    text-align: center;
    margin: 5px;

}

section.obra article div#contenido-fijo div.puntuacion .star {
    width: 20px;
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    -o-transition: transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
    /* Efecto suave al pasar el mouse */
}

section.obra article div#contenido-fijo div.puntuacion .star:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    /* Efecto de crecimiento al pasar el mouse */
}

/*enlace que te llevará a la lectura de la pagina oficial de la obra*/
section.obra article div#contenido-fijo a div.enlace-obra {
    background-color: #FFA559;
    border-radius: 15px;
    width: 150px;
    padding: 2px;
    text-align: center;
    margin: 5px;
}

a div.enlace-obra  {
    color: #000;
    font-size: 16px;
}

section.obra article div.datos-obra p {
    padding-right: 1rem;
}

/*estilos para los géneros*/
section.obra article div.datos-obra div#generos {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin: 1rem;
}

section.obra article div.datos-obra h4 {
    color: #FFF;
    text-align: left;
    padding-right: 0;
    padding-bottom: 0.2rem;
    -webkit-text-decoration: underline #B3DEE5;
            text-decoration: underline #B3DEE5;
}

section.obra article p {
    color: #FFF;
    font-size: 16px;
}

section.obra article div.datos-obra div#autor {
    margin: 2rem auto;
}

section.obra article div.datos-obra div#generos li {
    display: inline-block;
    /*alinea los elementos horizontalmente */
    margin-right: 15px;
}

section.obra article div.datos-obra div#generos a {
    font-size: 16px;
    position: relative;    
    display: inline-block;
    padding-bottom: 5px;
}
/*
section.obra article div.datos-obra div#generos a::after {
    content: '';
    /
    position: absolute;
    
    bottom: 0;
    
    left: 0;
    
    width: 0;
    
    height: 2px;
    
    background-color: #FFA559;
    
    transition: width 0.5s;
    
}

section.obra article div.datos-obra div#generos a:hover::after {
    width: 100%;
    
}
*/
/*reseñas*/

section.resenias {
    background-color: #525252;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
}

section.resenias h4 {
    color: #FFF;
    text-align: left;
    padding-right: 0;
    padding-bottom: 0.2rem;
    -webkit-text-decoration: underline #B3DEE5;
            text-decoration: underline #B3DEE5;
    margin-bottom: 1rem;

}

section.resenias article {
    background-color: #383838;
    padding: 2rem;
    color: #FFF;
    margin-bottom: 3rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
}

section.resenias article p.nota,
section.resenias article p.boton-postear {
    text-align: end;
    padding-bottom: 1rem;
}

textarea#resenia-user {
    background: none;
    border: none;
    color: white;
    width: 100%;
}

button#submit-resena {
    background-color: #FFA559;
    border-radius: 15px;
    font-weight: 550;
    padding: 10px;
    cursor: pointer;
}

section .boton-ver-resenias {
    background-color: #FFA559;
    width: 150px;
    padding: 10px;
    border-radius: 25px;
    text-align: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}

section .boton-ver-resenias a {
    font-size: 16px;
    font-weight: 600;
    color: #000;


}

/*listas en la que está inculida la obra que se muestra*/
section.listas-incluidas h3 {
    color: #FFF;
    padding-right: 0;
    padding-bottom: 0.2rem;
    width: 100%;
    text-align: left;
    -webkit-text-decoration: underline #B3DEE5;
            text-decoration: underline #B3DEE5;
    margin-bottom: 1rem;
}

section.listas-incluidas article.listas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #383838;
    padding: 2rem;
    color: #FFF;
    margin-bottom: 3rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
}

.listas p {
    font-size: 15px;
}

section.listas-incluidas h4{
    color: #FFF;
    text-align: left;
    padding-right: 0;
    padding-bottom: 0.2rem;
    -webkit-text-decoration: underline #B3DEE5;
            text-decoration: underline #B3DEE5;
    margin-bottom: 1rem;
    width: 80%;
}
section.listas-incluidas article.listas h5,
.listas p {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-left: 1.5rem;
}

section .boton-ver-listas {
    background-color: #FFA559;
    width: 150px;
    padding: 10px;
    border-radius: 25px;
    text-align: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}

section .boton-ver-listas a {
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

section.resenias,
section.listas-incluidas {
    width: 90%;
}

/*ventana emergente para añadir o crear una lista*/
#ventana-emergente-listas {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-color: #171616;
    padding: 20px;
    z-index: 1000;
}

.mostrar {
    display: block !important;
}

#ventana-emergente-listas p,
#ventana-emergente-listas div,
#ventana-emergente-listas input {
    padding-bottom: 5px;
}

#ventana-emergente-listas p.x-cerrar {
    text-align: right;
}

/*estilo para el checkbox creados desde cero para personalizarlos*/
/*oculta el checkbox original*/
#ventana-emergente-listas input[type="checkbox"] {
    display: none;
}

/*Estilo para el label, con texto blanco*/
#ventana-emergente-listas label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    display: inline-block;
    color: #FFF;
    font-size: 15px;
}

/*crear el cuadradito usando ::before, con fondo blanco*/
#ventana-emergente-listas label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;
    border: 2px solid #FFA559;
    background-color: #171616;
}

/*cambiar el fondo y borde del cuadradito cuando está marcado*/
#ventana-emergente-listas input[type="checkbox"]:checked+label::before {
    background-color: #171616;
    border-color: #FFA559;
}

/*crear el tick usando ::after cuando el checkbox está marcado*/
#ventana-emergente-listas input[type="checkbox"]:checked+label::after {
    content: '';
    position: absolute;
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid #FFA559;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

#ventana-emergente-listas input#nueva-lista-nombre {
    background: none;
    border-bottom: 1px solid #FFA559;
    color: white;
}

button.crear-lista {
    margin-top: 5px;
    background-color: #FFA559;
    width: 90px;
    padding: 5px;
    border-radius: 25px;
    text-align: center;
}

/*ver más reseñas*/
section.obra article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}



/*explora y descubre títulos aleatorios genrados aleatoriamente*/

section.obra-explorar article h4 {
    color: #FFF;
    width: 200px;
    padding-left: 0;
    padding-bottom: 0.2rem;
    -webkit-text-decoration: underline #B3DEE5;
            text-decoration: underline #B3DEE5;
    margin: 1rem;
    text-align: left;
}

div.enlace-obra {
    background-color: #FFA559;
    border-radius: 15px;
    width: 100px;
    padding: 2px;
    text-align: center;
    margin: 5px;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;

}

div.enlace-obra a {
    color: #000;
    font-size: 16px;
}

section.obra-explorar article {
    padding: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
}

section.obra-explorar article:nth-child(odd) {
    background-color: #383838;
}

section.obra-explorar article div.contenido-articulo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    
}
section.obra-explorar div.datos-obra{
    max-width: 600px;
}
section.obra-explorar div.descripcion {
    margin-left: 1rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}
section.obra-explorar div.descripcion p{
    color: #FFF;
    margin-right:0.5rem;
    font-weight: 300;
}
section.obra-explorar .portada {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
}

/*contacta con nosotros*/
form#formulario-contactanos div.contenedor-formulario {
    background-color: #383838;
}

form#formulario-contactanos h3 {
    padding-top: 1rem;
}

form#formulario-contactanos div.contenedor-formulario {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
}

form#formulario-contactanos div.contenedor-formulario label {
    font-size: 16px;
    text-align: left;
    color: #FFF;
    padding-top: 1.2rem;
    padding-bottom: 0.2rem;
}

form#formulario-contactanos div.contenedor-formulario #opciones-contacto {
    background-color: #171616;
    color: white;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    padding: 5px;
    padding-right: 30px;
    /*espacio para la imagen de la flecha*/
    background-image: url('https://cmr-ciaa.s3.amazonaws.com/cmr/imagen/icons/bx-chevron-down.svg');
    background-repeat: no-repeat;
    background-position: right 5px center;
    cursor: pointer;
}

form#formulario-contactanos div.contenedor-formulario #opciones-contacto option {
    background-color: #383838;
    color: white;
}

form#formulario-contactanos div.contenedor-formulario #email,
form#formulario-contactanos div.contenedor-formulario #asunto,
form#formulario-contactanos div.contenedor-formulario #descripcion {
    color: #000;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    padding: 5px;
    padding-right: 30px;
}

.mensaje-error {
    font-size: 12px;
    visibility: hidden;
    color: #ffa97f;
    margin-top: 5px;
    z-index: 1;
}


form#formulario-contactanos div.contenedor-formulario .boton-enviar {
    background-color: #FFA559;
    width: 90px;
    padding: 0.2rem;
    border-radius: 25px;
    text-align: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 1rem;
    font-size: 16px;
    cursor: pointer;

}

/*perfil usuario*/
.underline{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #FFA559;
    display: block;
}

#container-perfil {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

}

section.perfil-usuario {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

section.perfil-usuario h3 {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
}

section.perfil-usuario p {
    font-size: 16px;
    color: #FFF;
    margin: 0.5rem;
    text-align: center;
}

section.perfil-usuario div.foto-perfil {
    margin: 1rem;
    width: 160px;
    height: 160px;
    background-color: #FFF;

}

section.perfil-usuario div.editar-perfil {
    font-size: 16px;
    background-color: #383838;
    color: #FFF;
    position: relative;
    padding: 8px;
    width: 200px;
    text-align: center;
    cursor: pointer;
}

section.estanterias {
    background-color: #525252;

}

section.estanterias article.estanteria {

    -ms-flex-item-align: start;

        align-self: flex-start;
}

article.estanteria ul {
    margin-left: 1rem;
}

article.estanteria li {
    display: inline-block;
    /*alinea los elementos horizontalmente */
    margin-right: 15px;
}

article.estanteria a {
    font-size: 16px;
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
}


section.listas-personalizadas {
    max-width: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

section.listas-personalizadas h3,
section.estanterias h4,
section.listas-personalizadas h4 {
    -ms-flex-item-align: start;
        align-self: flex-start;
    color: #FFF;
    text-align: left;
    padding-right: 0;
    padding-bottom: 0.2rem;
    -webkit-text-decoration: underline #B3DEE5;
            text-decoration: underline #B3DEE5;
    margin-bottom: 1rem;
    width: 100%;
}

section.listas-personalizadas article.listas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #383838;
    padding: 2rem;
    color: #FFF;
    margin-bottom: 3rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
}



section.listas-personalizadas .listas p,
section.listas-personalizadas .listas h5 {
    font-size: 15px;
    font-weight: 300;
    margin: 0.5rem;
}


section.listas-personalizadas div.boton-crear-lista {
    font-size: 16px;
    background-color: #383838;
    color: #FFF;
    position: relative;
    padding: 8px;
    width: 200px;
    text-align: center;
    cursor: pointer;
}
/*
section.listas-personalizadas div.boton-crear-lista::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #FFA559;
    transition: width 0.5s;

}

section.listas-personalizadas div.boton-crear-lista:hover::after {
    width: 100%;

}
*/
/*ventana emergente para crear una lista*/
#ventana-emergente-crear-lista {
    background-color: #383838;
    color: white;
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 500px;
    margin: 0 auto;
    z-index: 10000;
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

#ventana-emergente-crear-lista h6 {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-bottom: 10px;
    font-size: 16px;
}

#ventana-emergente-crear-lista p,
label {
    font-size: 15px;
}

#ventana-emergente-crear-lista div {
    width: 100%;
    margin: 1rem 0;
}

#ventana-emergente-crear-lista input,
#ventana-emergente-crear-lista textarea {
    background-color: #171616;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 5px;
    width: 100%;
}

#ventana-emergente-crear-lista .x-cerrar-crear-lista {
    text-align: right;
    cursor: pointer;
}

/*ajustes usuario*/
#container-perfil section>h4 {
    -webkit-text-decoration: underline #B3DEE5;
            text-decoration: underline #B3DEE5;
}

section div.formulario-cambiar-datos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
}

section div.formulario-cambiar-datos article.cambiar-contrasenia,
section div.formulario-cambiar-datos article.cambiar-correo {
    margin-bottom: 1rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

}

section div.formulario-cambiar-datos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    max-width: 500px;
}

section div.formulario-cambiar-datos label,
section div.formulario-cambiar-datos label {
    color: #FFF;
    font-size: 16px;
    padding: 1rem;
}

section div.formulario-cambiar-datos h5,
section div.formulario-cambiar-datos h5 {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 1rem;
    -ms-flex-item-align: start;
        align-self: flex-start;
}

section div.formulario-cambiar-datos input,
section div.formulario-cambiar-datos input {
    width: 300px;
    background-color: #171616;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 5px;
}

section div.formulario-cambiar-datos button.boton-enviar,
section div.formulario-cambiar-datos button.boton-enviar {
    background-color: #FFA559;
    width: 150px;
    padding: 0.2rem;
    border-radius: 25px;
    text-align: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 1rem;
}




/*obras que se ha leido, quiere leer o se está leyendo*/

section div.obras-lectura article {
    padding: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;

}

section div.obras-lectura article h4 {
    color: #FFF;
    width: 200px;
    padding-left: 0;
    padding-bottom: 0.2rem;
    -webkit-text-decoration: underline #B3DEE5;
            text-decoration: underline #B3DEE5;
    margin: 1rem;
}

section div.obras-lectura article:nth-child(even) {
    background-color: #383838;
}

section div.obras-lectura article div.contenido-articulo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    max-width: 600px;
}

section div.obras-lectura div.descripcion h4{
    margin-right: 0;
}
section div.obras-lectura div.descripcion {
    margin-left: 1rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}
section div.obras-lectura div.descripcion p{
    color: #FFF;
    margin-right:0.5rem;
    font-weight: 300;
}
section div.obras-lectura div.descripcion div.puntuacion {
    border: 2px solid #FFA559;
    border-radius: 15px;
    width: 155px;
    height: auto;
    padding: 2px;
    text-align: center;
    margin: 5px;

}
section div.obras-lectura .portada {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
}


/*buscador*/
#container-buscador {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.buscar,
.filtros {
    width: 90%;
}

.buscar select,
.filtros select,
.contenido-filtrar select {
    background-color: #171616;
    color: #FFF;
    border: none;
    margin-bottom: 5px;
    width: 100%;
}

.buscardor {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #171616;
    width: 100%;
}

.buscardor input[type="text"] {
    width: 100%;
    padding: 5px;
    padding-right: 40px;
    border: none;
    background-color: #171616;
    color: #FFF;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-image: url('https://cmr-ciaa.s3.amazonaws.com/cmr/imagen/icons/bx-search.svg');
    /* Imagen de la lupa */
    background-repeat: no-repeat;
    background-position: right 10px center;
    cursor: text;
}

.filtros {
    background-color: #383838;
    padding: 10px;
    border-radius: 5px;
    width: 90%;
}

#mostrar-filtros {
    display: none;
}

.filtros span {
    color: #FFF;
    font-size: 22px;
}

.contenido-filtrar label {
    color: #FFF;
    font-size: 15px;
}
.contenido-filtrar>div {
    color: #FFF;
    font-size: 15px;
}
.contenido-filtrar label.seleccionable {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    display: inline-block;
    color: #FFF;
    font-size: 14px;
    cursor: pointer;
}

.contenido-filtrar input[type="checkbox"] {
    display: none;
}


/*crear el cuadradito usando ::before, con fondo blanco*/
.contenido-filtrar .seleccionable::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;
    border: 2px solid #FFA559;
    background-color: #171616;
}

/*cambiar el fondo y borde del cuadradito cuando está marcado*/
.contenido-filtrar input[type="checkbox"]:checked+.seleccionable::before {
    background-color: #171616;
    border-color: #FFA559;
}

/*crear el tick usando ::after cuando el checkbox está marcado*/
.contenido-filtrar input[type="checkbox"]:checked+.seleccionable::after {
    content: '';
    position: absolute;
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid #FFA559;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

.contenido-filtrar div.generos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;


    -webkit-box-pack: start;


        -ms-flex-pack: start;


            justify-content: flex-start;
}

.contenido-filtrar div.generos div {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    padding: 5px;
}

.contenido-filtrar-desplegable div.contenido-filtrar {
    width: 100%;
}




/*ocultamos el mensaje de que no hay resultados*/
section.busqueda-no-encontrada {
    display: none;
}

section.resultado-busqueda {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

}





/*pie de página*/
footer {
    background-color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0.5rem;
    width: 100%;
    height: auto;

}


footer div#rrss {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0.5rem;
}

footer div#rrss img {
    padding-right: 0.5rem;
    width: 40px;
}

footer div#menu-terminos ul li {
    padding: 0.5rem;
    text-align: center;

}

footer div#menu-terminos ul li a {
    font-size: 16px;
    font-weight: 400;

}

footer span {
    color: #FFF;
    font-size: 15px;
    text-align: center;
}

/*cookies*/
div#cookies {
    color: #FFF;
    font-size: 16px;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #383838;
    z-index: 1000;
}

div.cookie-contenido {
    padding: 20px;
    text-align: center;
}

button#aceptar-cookies,
button#saber-mas-cookies {
    background-color: #FFA559;
    width: 90px;
    padding: 0.2rem;
    border-radius: 25px;
    text-align: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 1rem;
}

button#saber-mas-cookies a {
    color: #000;
}

/*vídeo*/

#contenido-video {
    -ms-flex-item-align: start;
        align-self: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    max-width: 450px;
    max-height: 500px;
    margin: 0.1rem auto;
    background-color: #171616;
    border-radius: 25px;
    border: 1px solid #ffa559;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#contenido-video #botones-reproductor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0.2rem;

}

#contenido-video #video {
    padding: 0.5rem;
    width: 100%;
    height: auto;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

#contenido-video .boton {
    margin-right: 0.2rem;
    background-color: #000;
    border: 1px solid #ffa559;
    padding: 0.2rem;
    border-radius: 25px;
}

#contenido-video .boton img {
    width: 20px;
    height: auto;
    cursor: pointer;
    padding: 0.2rem;
}

#contenido-video #tiempo-actual,
#contenido-video #tiempo-restante {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: 14px;
}

#contenido-video #pause {
    display: none;
}

#contenido-video #exit-fullscreen {
    display: none;
}

#contenido-video #barra-progreso {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}

#contenido-video #tiempo-actual {
    color: #ffa559;
    font-weight: bolder;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}

#contenido-video #tiempo-restante {
    color: #ffa559;
    font-weight: bolder;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}

#contenido-video .guion {
    color: #ffa559;
    font-weight: bolder;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}



/*media query para tablet*/
@media (min-width:900px) {
    section article.swiper-slide {
        /*se muestran tres artículos*/
        -webkit-box-flex: 0;
            -ms-flex: 0 0 33%;
                flex: 0 0 33%;
    }

    section article.card {
        /*se muestran tres artículos*/
        -webkit-box-flex: 0;
            -ms-flex: 0 0 33%;
                flex: 0 0 33%;
    }

    /*ficha obra*/
    /*contenido de la obra (datos)*/
    section.obra article {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row wrap;
                flex-flow: row wrap;

    }
    

    section.obra article div#contenido-fijo {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 20%;
                flex: 0 0 20%;
    }

    section.obra article div.datos-obra {
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
    }

    /*perfil usuario*/

    #container-perfil {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        
    }

    /*buscador*/
    .contenido-filtrar div.generos div {
        -ms-flex-preferred-size: 33%;
            flex-basis: 33%;
        /* Cuatro elementos por fila */
    }

    .contenido-filtrar-desplegable {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    .contenido-filtrar-desplegable div.contenido-filtrar {
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        margin-right: 1rem;
    }

    /*pie de página*/
    footer {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row wrap;
                flex-flow: row wrap;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }

    footer div#menu-terminos ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }

    footer span {
        -webkit-box-ordinal-group: 4;
            -ms-flex-order: 3;
                order: 3;
        /* Asegura que el span se muestre al final, independientemente del orden en el HTML */
        -webkit-box-flex: 1;
            -ms-flex: 1 100%;
                flex: 1 100%;
        /* Ocupa el 100% del ancho disponible forzando que se muestre en su propia línea */
        text-align: center;
        /* Centra el texto del span */
    }
}

/*media query para escritorio*/
@media (min-width:1440px) {


    section article.swiper-slide {
        /*se muestran cuatro artículos*/
        -webkit-box-flex: 0;
            -ms-flex: 0 0 25%;
                flex: 0 0 25%;
    }

    section article.card {
        /*se muestran cuatro artículos*/
        -webkit-box-flex: 0;
            -ms-flex: 0 0 25%;
                flex: 0 0 25%;
    }

    /*obras leidas, leyendo y pendientes de leer*/
    section div.obras-lectura {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    
    section div.obras-lectura article {
        width: calc(50% - 1rem);
    }

    /*ajustes de usuario*/
    section div.formulario-cambiar-datos article {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-align: center;
    }

    /* Para centrar los elementos dentro de los artículos */
    #container-perfil {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        /* Centra el contenido horizontalmente */
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;

    }

    #container-perfil .perfil-usuario,
    .formulario-cambiar-datos {
        /* Asegura que cada sección no ocupe más del 50% del ancho, menos cualquier margen deseado para separación */
        max-width: calc(50% - 1rem);
        /* Ajusta según sea necesario */
        margin: 1rem;
        /* Proporciona un poco de espacio alrededor de los elementos */
    }

    #container-perfil section {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        /* Alinea los elementos de la sección verticalmente en el centro */
    }

    #container-perfil section div.formulario-cambiar-datos article h5,
    #container-perfil section div.formulario-cambiar-datos article label,
    #container-perfil section div.formulario-cambiar-datos article input,
    #container-perfil section div.formulario-cambiar-datos article .boton-enviar {
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
    }

    /*buscador*/

    .contenido-filtrar div.generos div {
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
    }

    /*cabecera*/
    header nav#menuPrincipal img#img-menu-principal {
        display: none;
    }

    header nav#menuPrincipal ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
        background-color: transparent;
        padding: 0;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 100%;
        padding: 0;


    }

    header nav#menuPrincipal ul#opciones-menu-principal>li {
        width: 100%;
        margin: 32px 0;
        padding: 10px;

    }

    header nav#menuPrincipal ul#opciones-menu-principal>li:nth-last-child(even) {
        border-left: 1px solid #FFA559;
        border-right: 1px solid #FFA559;
    }

    header nav#menuPrincipal ul#opciones-menu-principal>li a {
        width: 100%;
        text-align: center;
    }

    main {
        margin-top: 50px;
    }

    /*buscador de la cabecera*/
    #buscador {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        border-bottom: 1px solid #525252;
        -ms-flex-item-align: start;
            align-self: flex-start;
    }

    #buscador input[type="text"] {
        display: block;
        width: 100%;
        background-color: #000;
        color: #FFF;
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
        padding: 5px 5px 0 30px;
        padding-right: 30px;
        border: none;

        cursor: text;
    }

    #buscador a {
        display: block;
        /* Cambiado de 'none' a 'block' */
        position: absolute;
        /* Posición absoluta para ubicarlo correctamente */
        right: 0;
        /* Alinea el enlace a la derecha dentro de #buscador */
        top: 0;
        /* Alinea el enlace en la parte superior de #buscador */
        height: 100%;
        /* Asegura que el enlace ocupe toda la altura de #buscador */
        width: 50px;
        /* Ancho suficiente para cubrir el área de la lupa */
        z-index: 10;
        /* Asegura que el enlace esté sobre el input */
    }

    #buscador {
        position: relative;
        /* Necesario para que la posición absoluta de 'a' funcione correctamente */
    }

    header div#iconos {
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }
}