/* <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 100 to 700

.josefin-sans-<uniquifier> {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #525252;
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #FFF;
}

ul {
    list-style: none;
}

.nomUser {
    color: #FFA559;
    font-size: 0.75rem;
}

img {
    cursor: pointer;
}


div#volverarriba {
    color: #454545;
    font-family: 'Open Sans Condensed', sans-serif;
    width: 8rem;
    background-color: lightgrey;
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: center;
    position: fixed;
    opacity: 0.7;
    display: none;
}

div#volverarriba>a {
    display: flex;
    justify-content: space-between;
    border: 1px solid grey;
    padding: 0.2rem 1rem;
}

/*cabecera*/
header h1 {
    display: none;
    color: #FFA559;
}

header {
    background-color: #000;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    width: 100%;
    height: 5rem;

}

header div#logo a img#imglogo {
    width: 120px;
    height: 100px;
    margin-left: 1rem;
}

header div#iconos {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    height: 50px;
    margin-top: 1rem;

}

header div#iconos nav#menuPrincipal img {
    padding-left: 1rem;


}

header div#iconos nav#menu-usuario img {
    padding-left: 1rem;

}

header div#iconos div#buscador img {
    padding-left: 1rem;
}

header nav#menuPrincipal ul#opciones-menu-principal {
    display: none;

    flex-flow: column wrap;
    background-color: #171616;
    position: absolute;
	top:3rem;
    right: 0;
    z-index: 2;

}

header nav#menuPrincipal ul#opciones-menu-principal>li {

    display: flex;
    background-color: #383838;
    border-bottom: 1px solid #FFA559;
    padding: 0.5rem;
    width: 160px;
    align-self: center;
}

header nav#menuPrincipal ul#opciones-menu-principal>li.nomUser {
    background-color: #171616;
    border-bottom: none;
    align-self: center;
}

header nav#menuPrincipal ul#opciones-menu-principal>li.cerrarMenu {
    background-color: #171616;
    border-bottom: none;
    position: relative;
}

.cerrarMenu img {
    padding: 0;
    width: 60px;
    height: 30px;
    align-self: flex-start;
    position: absolute;
    left: 68%;
    top: 15%;
}

header nav#menu-usuario ul#opciones-menu-usuario {
    display: none;
    
    flex-flow: column wrap;
    background-color: #171616;
    position: absolute;
	top:3rem;
    right: 0;
    z-index: 2;
}

header nav#menu-usuario ul#opciones-menu-usuario>li {
    
    display: flex;
    background-color: #383838;
    border-bottom: 1px solid #FFA559;
    padding: 0.5rem;
    width: 160px;
    align-self: center;


}

header nav#menu-usuario ul#opciones-menu-usuario>li.nomUser {
    background-color: #171616;
    border-bottom: none;
    align-self: center;
}

header nav#menu-usuario ul#opciones-menu-usuario>li.cerrarMenu {
    background-color: #171616;
    border-bottom: none;
    position: relative;
}




/*cuerpo*/

/*pie de página*/
footer {
    background-color: #000;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 0.5rem;
    width: 100%;
    height: auto;
}

footer div#rrss {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0.5rem;
}

footer div#rrss img {
    padding-right: 0.5rem;
    width: 40px;
}

footer nav#menuTerminos ul li {
    padding: 0.5rem;
    text-align: center;
    font-size: 15px;
}

footer span {
    color: #FFF;
    font-size: 15px;
    text-align: center;
}