html {
    box-sizing: border-box;
}

/*estilos generales*/
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

div#contenido {
    display: flex;
    flex-direction: column;
}

nav>ul {
    list-style: none;
}

nav>ul>li>a {
    text-decoration: none;
}

/*fin de estilos generales*/

/*hacemos flexibles el nav*/
nav>ul {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    padding: 0;
    background-color: #c2c2c2;
}

nav>ul>li {
    display: flex;
    flex-flow: row;
    border-right: 1px solid #000;
    padding: 0.4em;
}

nav>ul>li#login {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    border-right: none;
}

nav>ul>li>a {
    border-bottom: 1px solid #706d6d;
    border-radius: 5px;
    padding: 0.3rem;
}