html{box-sizing: border-box;}

/*Estilos generales*/
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
}
/*hacemos el contenido flexible*/
main>div#contenido{
    display: flex;
    flex-direction: column;
    margin-left: 0.3rem;
}
/*Contenedor principal*/
form#form-login {
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 10px;   
}

/*h2*/
h2 {
    font-size: 2.5rem;
    padding-left: 3rem;
}

/*Campos de entrada de texto*/
input[type="text"],
input[type="password"] {
    width: 20rem;
    min-width: 10rem;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-bottom: 1px solid #999;
    
}
/*Para cuando no da aún el error*/
input:valid {
    background-color: white;
}

/*Para cuando da error*//*
input:invalid {
    background-color: pink;
}*/

/*Para el enlace*/
a {
    margin-top: 2rem;
    padding: 10px;
    font-size: 10px;
    text-decoration: none;
    color: #000;
}

/*Botón*/
#BtnInicarSesion {
    background-color: #331a00;
    color: #d89247;
    border: none;
    border-radius: 20px;
    width: 15rem;
    height: 2.5rem;
    cursor: pointer;
}

#BtnInicarSesion:hover {
    background-color: #d89247;
    color: #331a00;
}

