* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

/*header*/
header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

header>nav#iconos-cabecera {
  display: flex;
  justify-content: space-around;
  flex: 0 10%;
}

header>div#buscador {
  flex: 100%;
  display: flex;
}

header>div#buscador>input{
  flex: 1;
  padding: 0.3rem auto;
}

header>div#buscador>img{
  position: absolute;/*no se puede poner position relative*/
  right: 1rem;
}
main,
footer {
  display: none;
}