* {
    box-sizing: border-box;
}

/*estilos generales*/
body {
    background-color: #ccc;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    margin: 0;
    padding: 0.25rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/*fin de estilos generales*/


/*header*/
header {
    background-color: aquamarine;
    padding: 0.5rem;
    border: 2px solid #c3c3c3;
    border-radius: 10px;
    
}
/*div dentro del menú para poder*/
body main{
    display: flex;
    flex-direction: column;
}

/*article*/
article {
    background-color: purple;
    height: 15rem;
    padding: 0.5rem;
    border: 2px solid #c3c3c3;
    border-radius: 10px;
}

/*nav*/
nav {
    background-color: orange;    
    padding: 0.5rem;
    border: 2px solid #c3c3c3;
    border-radius: 10px;
    order: -1;
}

/*aside*/
aside {
    background-color: lightskyblue;
    padding: 0.5rem;
    border: 2px solid #c3c3c3;
    border-radius: 10px;
}

/*footer*/
footer {
    background-color: lightblue;
    padding: 0.5rem;
    border: 2px solid #c3c3c3;
    border-radius: 10px;
}
/*media query para tablet*/
@media (min-width:768px){
    body main{
        flex-direction: row;
        align-items: stretch;
        justify-content: space-evenly;
    }
    nav{
        flex-grow: 1;
    }
    article{
        flex-grow: 4;
    }
    aside{
        flex-grow: 1;
    }
}