* {
    box-sizing: border-box;
}

/*estilos generales*/
body {
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #000;
    margin: 0;
    padding: 0.25rem;
    text-align: center;
}

/*fin de estilos generales*/

/*estilos comunes*/
header,article,aside,footer{
    border: 1px solid grey;
    border-radius: 0.5rem;
    padding:0.5rem;
   flex:100%;/* valor del flex basic*/
}

div#contenido {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   /* flex-wrap: row wrap;*/
}
/*header*/
header {
    background-color: tomato;
}
/*article*/
article {
    background-color: deepskyblue;
    text-align: justify;
    height: 10rem;
}

/*aside1*/
aside#aside-1 {
    background-color: gold;
}

/*aside2*/
aside#aside-2 {
    background-color: hotpink;
}

/*footer*/
footer {
    background-color: lightgreen;
}

/*media query para tablet*/
@media all and (min-width:600px) {

    div#contenido{
        flex-direction: row;
        flex-wrap: wrap;
        flex-basis: 100%;
        
    }
    
    article {
        flex-grow: 2;
    }

    aside {
        flex-grow: 1;
        flex:50%;
    }

}

/*media query para escritorio*/
@media all and (min-width:800px) {
    div#contenido{
        flex-direction: row;
        flex-wrap: wrap;
        flex-basis: 100%;
    }
    article{
        flex: 50%;
        flex-grow: 4;
    }

    aside {
        flex: 15%;
        flex-grow: 2;
    }
    header#header{
        order: -2;
    }
    aside#aside-1 {
        order: -1;
    }
    article{
        order:3;
    }
    aside#aside-2{
        order:4;
    }
    footer{
        order:5;
    }
}